.team {
  padding-bottom: 100px;
  @include desktop {
    padding-bottom: 40px;
  }
  @include mobile {
    padding-bottom: 30px;
  }
  .member-informashion {
    text-align: center;
    margin-bottom: 30px;
    .member-thume {
      margin-bottom: 20px;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      img {
        width: 100%;
        border-radius: 8px;
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
  }
}
