{{ $address := .Site.Params.address}}
<section class="contact" id="contact">
  <div class="container-fulid">
    <div class="row no-gutters">
      <div class="col-lg-6">
        {{ $map := .Site.Params.map }}
        <div id="map" data-lat={{ $map.latitude }} data-long={{ $map.longitude }} data-pin={{ $map.pinImage | absURL }}>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-aria">
          <h3>
            {{ $address.address | safeHTML }}
          </h3>
          <ul>
            <li> <a href="mailto:{{ $address.email }}">{{ $address.email }}</a></li>
            <li><a href="tel:{{ $address.phone}}">{{ $address.phone }}</a></li>
          </ul>
          <p>
            {{ $address.openingDesc }}
          </p>
          <p>{{ $address.openingHours }}</p>
        </div>
      </div>
    </div>
  </div>
</section>